[submodule "ElevenLabs-DotNet"]
	path = ElevenLabs-DotNet
	url = https://github.com/RageAgainstThePixel/ElevenLabs-DotNet.git
[submodule "soundtouch.net"]
	path = soundtouch.net
	url = https://github.com/Sebane1/soundtouch.net
